.env
# /uploads/*
# !uploads/profiles
# !uploads/labelStyles
# /uploads/profiles/*
# /uploads/labelStyles/*
# !uploads/profiles/*.svg
uploads/
/package.json
/package-lock.json
package.json
package-lock.json

# !uploads/profiles/*.jpg
# !uploads/profiles/*.png
# !uploads/profiles/*.svg
