<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>TimeToMove</title>
    <link rel="stylesheet" href="/style/style.css">
    <link rel="icon" type="image/x-icon" href="/favicon.ico?v=2">
</head>
<body>
<h1> Account disabled</h1>
<!-- Button to go back -->
<div>
    <a href="/" class="back-button">Back Home</a>
</div>
</body>
</html>
