<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TimeToMove - New File Test</title>
    <link rel="stylesheet" href="/style/style.css">
    <link rel="icon" type="image/x-icon" href="/favicon.ico?v=2">
</head>
<body>
    <%- include('./../partials/header.ejs') %>

    <main>
        <h1>New File Test</h1>
        <p>This is a test to see if new files will be recognized by the server automatically.</p>
    </main>

    <%- include('./../partials/footer.ejs') %>

    <script src="/js/main.js"></script>
</body>
</html>
